@model MvcApplication37.Models.LoginModel
@{

    Layout = null;
}

@using (@Html.BeginForm("Login", "AdminMenu"))
{
    @Html.ValidationMessage("ErrorLogin")
    <table align="center" style="position:absolute; margin-left:300px; color:white;" id="find_box">
        <tr>
            <td>@Html.TextBoxFor(model => model.Login)</td>
            <td>Логин</td>

        </tr>
        <tr>
            <td>@Html.PasswordFor(model => model.Password)</td>
            <td>Пароль</td>

        <tr>
            <td align="right"><input type="submit" class="submit_btn" id="submit_btn" title="Вход" value="Вход" /></td>
        </tr>
    </table>
}