@{
    ViewBag.Title = "О нас";
}

<h2>О нас</h2>
<p align="justify">
    Компания "MAXSHOP" начала свою деятельность в 2007&nbsp;году.
</p>

<p align="justify">
    Сеть салонов сотовой связи "IPHONEMAN.BY" входит в число лидеров по продажам мобильных телефонов в Беларуси. У нас широкий ассортимент товаров.
</p>
<p align="justify">
    Также мы предлагаем подключение и дополнительные услуги операторов сотовой связи (Velcom, MTC) и оформление потребительских кредитов.
</p>
<p align="justify">
    В апреле 2013 года мы открыли интернет-магазин "IPHONEMAN.BY", был полностью обновлен сайт IPHONEMAN.BY. Теперь наши покупатели получили возможность приобретать товар онлайн с доставкой по всей РБ.<br>
</p>
<p align="justify">
    Товары, предлагаемые покупателям в сети магазинов "IPHONEMAN.BY" - это исключительно легальная "белая" техника, официально ввезенная в Беларусь. Вся техника сертифицирована, с гарантией производителя на ремонти послепродажным обслуживанием.
</p>
<p align="justify">
    Наша цель – укрепление лидирующих позиций на рынке Беларуси за счет постоянного совершенствования. Мы стремимся оставаться в лидерах сотовых ритейлеров Беларуси.
</p>
<p align="justify">
    Мы работаем над безупречной репутацией бренда "IPHONEMAN.BY". Доверие, симпатия и уважение со стороны покупателей и деловых партнеров - все это очень важно для нас. В любом салоне "IPHONEMAN.BY" работают опытные, доброжелательные, ответственные специалисты. Мы строим долгосрочные отношения с нашими партнерами.
</p>
<p align="justify">
    Мы уверены, что достигнем стоящих перед нами задач. Ведь мы знаем потребности наших клиентов, предлагаем консультацию квалифицированных специалистов, системно развиваем наш бизнес. Мы делаем доступными новые технологии для всех жителей страны!
</p>	
<div class="cleaner"></div>