@{
    ViewBag.Title = "Клиентам";
}

<h2>Клиентам</h2>
<div align="justify">
   Интернет-магазин мобильных телефонов "IPHONEMAN.BY" обеспечивает надежную защиту прав своих покупателей. Торговля ведется в полном соответствии с законами Республики Беларусь. Любые спорные вопросы мы стремимся решать в пользу клиентов. Но для того, чтобы покупка оставила только положительные эмоции, мы рекомендуем предварительно ознакомиться с полезной информацией для покупателей.&nbsp;
</div>
<br>
<p align="justify">
    <b>Платежный документ</b>
</p>
<p align="justify">
    В соответствии с законодательством Республики Беларусь, интернет-магазин "IPHONEMAN.BY" работает с кассовыми аппаратами и выдает покупателям чеки на приобретенную продукцию. Все наши продавцы и курьеры имеют кассовые аппараты - Вы обязательно получите чек при доставке товара на дом.
</p>
<p align="justify">
    <b>Гарантия на технику</b>
</p>
<p align="justify">
    В интернет-магазине мобильных телефонов "IPHONEMAN.BY" продается только "белая" техника, на которую распространяется гарантия производителя. В случае возникновения гарантийного случая, клиент может воспользоваться услугами официальных сервисных центровпроизводителей в Беларуси. При совершении любой покупки в нашем магазине Вы должны получить гарантийный талон. Проверьте правильность его заполнения.
</p>
<p align="justify">
    <b>Защита прав потребителей</b>
</p>
<p align="justify">
    Выбирая интернет-магазин мобильных телефонов "IPHONEMAN.BY". Вы можете быть уверены в соблюдении требований <noindex><a href="http://www.pravo.by/main.aspx?guid=3871&p0=h10200090&p2=%7bNRPA%7d" target="_blank" rel="nofollow">закона РБ "О защите прав потребителей"</a></noindex>. Согласно закону, покупатель имеет следующие права:
</p>
<ul>
    <li align="justify">получение достоверной информации о товаре (технические характеристики, качество изготовления, рекомендации по использованию и т.д.);</li>
    <li align="justify">свободный выбор товара с проверкой его качества, комплектности и т.д.;</li>
    <li align="justify">соблюдение гарантийного срока использования товара;</li>
    <li align="justify">возможность квалифицированного ремонта и технического обслуживания товара;</li>
    <li align="justify">возврат, замена или оперативный ремонт неисправного товара (при соблюдении требований закона);</li>
    <li align="justify">а также другие законные права.</li>
</ul>
<p align="justify">
    <b>Покупка в интернет-магазине</b><br>
</p>
<p align="justify">
    Интернет-магазин сотовых телефонов "IPHONEMAN.BY" предлагает покупателям широкий ассортимент новейшей техники. Товары доставляются по Минску и по всей Беларуси.
</p>
<p align="justify">
    Сделать покупку в нашем магазине очень просто.
</p>
<ol>
    <li align="justify">выберите интересующий Вас товар, используя каталог на сайте;</li>
    <li align="justify">оформите заказ через "корзину" интернет-магазина, или свяжитесь с менеджером по продажам;</li>
    <li align="justify">при необходимости - оплатите товар онлайн, через системы электронных платежей;</li>
    <li align="justify">дождитесь доставки товара (возможна бесплатная и платная доставка, в зависимости от расстояния и стоимости покупки);</li>
    <li align="justify">проверьте товар в присутствии курьера;</li>
    <li align="justify">при расчете получите чек и гарантийный талон.</li>
</ol>
<p align="justify">
    На товары, приобретенные в интернет-магазине сотовых телефонов, полностью распространяются все обязанности продавца: гарантийный срок, возможность законного возврата или обмена и т.д.
</p>
<p align="justify">
    <strong>Магазин "IPHONEMAN.BY" - мир современных технологий открыт для всех!</strong>
</p>
				<div class="cleaner"></div>
