@{
    ViewBag.Title = "Контакты";
}

<h2>Контакты</h2>
<p>
    Адрес:<br />
    220131, г.Минск, пр-т Партизанский, 2А
    <p>
    Телефоны:
    +375-29-7703600 - мтс<br />
    +375-44-7783600 - велком<br />
    +375-17-2613168 - факс
   <p>
    E-MAIL<br />
       IPHONEMAN@gmail.com<br />
